/* set some global stuff here and then define classes to tweak presentations */
body{
    margin: 0;
    background-color: #336699;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 16px;
}
h1{
}
h2{
}
h3{
}
h4{
}
h5{
}
h6{
}
/* For document structure */
#main{
    width: 800px;
    margin-left: auto;
    margin-right: auto; 
} /* container for all administrative page markup */
#header{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} /* container for all headers */
#createblog{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
#blogcontainermain{
}
#blogcontainersub{
}

/* For document presentation */
.blogtitle{
}
.blogentrytitle{
}
.blogtext{
}
.blogcomments{
}
