/* set some global stuff here and then define classes to tweak presentations */
body{
    margin: 0;
    background-color: #336699;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 16px;
}
h1{
}
h2{
}
h3{
}
h4{
}
h5{
}
h6{
}
a, a:visited, a:hover, a:active{
    color: #000000;
    text-decoration:  none;
}
a:hover{
    text-decoration:  underline;
}
/* For document structure */
#main{
    width: 800px;
    margin-left: auto;
    margin-right: auto; 
} /* container for all administrative page markup */
#header{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
} /* container for all headers */
#createblog{
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
#notification{
    text-size: .7em;
    color: #FF0000;
    font-family: 'Arial', sans-serif;
}
#blogcontainermain{
}
#blogcontainersub{
}
#loginstatus{
    display:inline;
    float: left;
    font-size: .5em;
    width: 100px;
}
#logout{
    display:inline;
    float: right;
    font-size: .5em;
    width: 100px;
}
/* For document presentation */
table.bloglistings{    
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border: 1px solid #C0C0C0;
}
th, td{
    border: 1px solid #C0C0C0;
}
.blogtitle{
}
.blogentrytitle{
}
.blogtext{
}
.blogcomments{
}
